@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
@import url(./variables.css);

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* font: 'hanken grotesk', san-serif; */
}

.wrapper {
  background-color: var(--white);
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  max-width: 550px;
  width: 100%;
  box-shadow: 10px 10px 64px 0px rgba(0,0,0,0.27);
}

.wrapper>section {
  padding-block: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.wrapper .result-panel>*:not(:last-child) {
  margin-bottom: 25px;
}

.wrapper .result-panel {
  border-radius: 0 20px 20px 0;
  background-image: linear-gradient(var(--light-slate-blue),
      var(--light-royal-blue));
  color: var(--light-lavender);
}

.wrapper .result-panel .inner-circle {
  background-image: linear-gradient(var(--violet-blue), var(--persian-blue));
  text-align: center;
  border-radius: 50%;
  padding: 2.7rem 3rem;
}

.wrapper .result-panel .inner-circle .score {
  font-size: var(--large-font);
  font-weight: 700;
  color: var(--white);
}

.wrapper .result-panel .inner-circle .overall {
  color: var(--light-lavender);
  font-size: var(--xtra-small-font);
  padding-top: 5px;
}

.wrapper .result-panel .appreciation-txt {
  color: var(--white);
  font-weight: 600;
  font-size: var(--medium-font);
  margin-bottom: 10px !important;
}

.wrapper .result-panel p {
  /* color: var(--light-lavender); */
  color: var(--pale-blue);
  font-size: var(--xtra-small-font);
  text-align: center;
  max-width: 180px;
  line-height: 1.3;
}

.wrapper .summary-panel {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  text-transform: capitalize;
  gap: 0.4rem;
}

.wrapper .summary-panel>section {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 80%
  

}


section .summary {
  font-weight: 700;
  display: flex;
  margin-bottom: 1rem;
  display: flex;
  padding-right: 7.5rem;
  
  
}

.wrapper .summary-panel>section p {
  color: var(--dark-gray-blue) !important;
  letter-spacing: 1px;

}

.wrapper .summary-panel>section p,
span {
  color: var(--light-lavender);
}

/* .wrapper .summary-panel>section, p {
  margin-left: 2rem;
} */

.wrapper .summary-panel>section>section {
  display: flex;
  /* justify-content: space-between; */
  gap: 5px;
}

.wrapper .summary-panel .first {
  background-color: var(--light-red-bg);
  color: var(--light-red);

}

.wrapper .summary-panel .second {
  background-color: var(--orangey-yellow-bg);
  color: var(--orangey-yellow);

}

.wrapper .summary-panel .third {
  background-color: var(--green-teal-bg);
  color: var(--green-teal);

}

.wrapper .summary-panel .fourth {
  background-color: var(--cobalt-blue-bg);
  color: var(--cobalt-blue);

}

.wrapper .summary-panel button {
  font-weight: 700;
  letter-spacing: 1px;
  padding: 1rem;
  width: 80%;
  border-radius: 2rem;
  border: none;
  background-color: var(--dark-gray-blue);
  color: var(--white);
  text-transform: capitalize;
  margin-top: 1rem;
}